group ChiaStack
    storage: none
    source https://api.nuget.org/v3/index.json
    frameworks: net5.0, netstandard2.0
    nuget EPPlus
    nuget FSharp.Data
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Taskbuilder.fs
    nuget Microsoft.ApplicationInsights.DependencyCollector
    nuget Microsoft.ApplicationInsights.PerfCounterCollector
    nuget StackExchange.Redis
    nuget Microsoft.Azure.EventHubs
    nuget Microsoft.Azure.Devices
    nuget Microsoft.Azure.Devices.Client
    nuget Farmer
    nuget Microsoft.Data.SqlClient
    nuget Fulma
    nuget Elmish.Toastr
    nuget Fable.FontAwesome
    nuget FSharp.Core 5.0.0

group Chia.Docs
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: net5.0
    nuget Feliz.Router
    nuget Zanaptak.TypedCssClasses
    nuget Fable.SimpleHttp
    nuget Feliz.ElmishComponents
    nuget Feliz.UseDeferred
    nuget Feliz.Popover
    nuget Feliz.Markdown
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Feliz.Bulma

group Tests
    source https://api.nuget.org/v3/index.json
    framework: net5.0
    storage:none
    nuget Canopy
    nuget phantomjs
    nuget Selenium.WebDriver.ChromeDriver
    nuget Fable.Mocha
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Taskbuilder.fs
    nuget EPPlus
