group ChiaStack
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: net5.0
    nuget EPPlus
    nuget FSharp.Data
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Expecto.TestResults
    nuget WindowsAzure.Storage
    nuget Taskbuilder.fs
    nuget Microsoft.ApplicationInsights.DependencyCollector
    nuget Microsoft.ApplicationInsights.PerfCounterCollector
    nuget StackExchange.Redis
    nuget Microsoft.Azure.EventHubs
    nuget Microsoft.Azure.Devices
    nuget Microsoft.Azure.Devices.Client
    nuget Farmer
    nuget Dapper
    nuget Microsoft.Data.SqlClient
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fulma.Elmish
    nuget Fable.Recharts
    nuget Elmish.Toastr

group Chia.Docs
    storage: none
    source https://api.nuget.org/v3/index.json
    framework: net5.0
    nuget Feliz.Router
    nuget Zanaptak.TypedCssClasses
    nuget Fable.SimpleHttp
    nuget Feliz.ElmishComponents
    nuget Feliz.UseDeferred
    nuget Feliz.Popover
    nuget Feliz.Markdown
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Feliz.Bulma
